#s-e69944d8-8376-43de-8ec1-b12e87b74598 > #backgroundBox {
  position: absolute;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 > #alignmentBox {
  position: relative;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Rectangle_1 {
  position: absolute;
  width: 1919.0950987564013px;
  min-height: 168.7500000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #00BCD4;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Rectangle_1 > .borderLayer {
  border-top-width: 3.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 3.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 3.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 3.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Rectangle_2 {
  position: absolute;
  width: 1919.0950987564013px;
  min-height: 85.78125000000034px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #00BCD4;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Rectangle_2 > .borderLayer {
  border-top-width: 3.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 3.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 3.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 3.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_6 {
  position: absolute;
  width: 157.3489392831018px;
  min-height: 63.28124999999996px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_6 > .backgroundLayer > .colorLayer {
  background-color: #3F51B5;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_6 span#rtr-s-Button_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_1 {
  position: absolute;
  width: 157.3489392831043px;
  min-height: 63.28124999999996px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #3F51B5;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_2 {
  position: absolute;
  width: 157.34893928310157px;
  min-height: 63.28124999999993px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #3F51B5;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_3 {
  position: absolute;
  width: 157.3489392831018px;
  min-height: 63.28124999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: #3F51B5;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_4 {
  position: absolute;
  width: 157.3489392831018px;
  min-height: 126.56249999999993px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_4 > .backgroundLayer > .colorLayer {
  background-color: #3F51B5;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_5 {
  position: absolute;
  width: 157.34893928310157px;
  min-height: 63.28124999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_5 > .backgroundLayer > .colorLayer {
  background-color: #3F51B5;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_7 {
  position: absolute;
  width: 157.34893928310157px;
  min-height: 63.28124999999996px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_7 > .backgroundLayer > .colorLayer {
  background-color: #3F51B5;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Button_7 span#rtr-s-Button_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Rectangle_3 {
  position: absolute;
  width: 1920.5000000000005px;
  min-height: 826.8749999999993px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #3F51B5;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Rectangle_3 > .borderLayer {
  border-top-width: 3.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 3.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 3.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 3.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_4 {
  position: absolute;
  width: 282.7253994833583px;
  min-height: 105.46874999999991px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_4 span {
  color: #3AB8F8;
  text-align: left;
  text-decoration: underline;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 36.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #3AB8F8;
  text-decoration: underline;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 36.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Path_20 {
  position: absolute;
  width: 26.69312286376953px;
  height: 26.556976318359375px;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Path_21 {
  position: absolute;
  width: 11.417572021484375px;
  height: 21.500244140625px;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Path_17 {
  position: absolute;
  width: 26.55793571472168px;
  height: 26.578157424926758px;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Path_19 {
  position: absolute;
  width: 13.637283325195312px;
  height: 13.650382995605469px;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Circle_5 {
  position: absolute;
  width: 3.182769775390625px;
  height: 3.2000656127929688px;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Path_41 {
  position: absolute;
  width: 27.665748596191406px;
  height: 22.5px;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_5 {
  position: absolute;
  width: 24.843702850676664px;
  min-height: 37.968749999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_7 {
  position: absolute;
  width: 126.4411119239204px;
  min-height: 75.9375px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_8 {
  position: absolute;
  width: 392.12796790702714px;
  min-height: 56.25px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_1 {
  position: absolute;
  width: 654.8966354671489px;
  min-height: 253.12500000000028px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_1 span#rtr-s-Paragraph_1_1 {
  color: #F4115E;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_1 span#rtr-s-Paragraph_1_2 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_1 span#rtr-s-Paragraph_1_3 {
  color: #3AB8F8;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_1 span#rtr-s-Paragraph_1_4 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_1 span#rtr-s-Paragraph_1_5 {
  color: #3AB8F8;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_1 span#rtr-s-Paragraph_1_6 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_1 span#rtr-s-Paragraph_1_7 {
  color: #3AB8F8;
  text-decoration: underline;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_1 span#rtr-s-Paragraph_1_8 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_3 {
  position: absolute;
  width: 445.6939437408564px;
  min-height: 111.09375px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_3 span {
  color: #3AB8F8;
  text-align: left;
  text-decoration: underline;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 36.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #3AB8F8;
  text-decoration: underline;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 36.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_9 {
  position: absolute;
  width: 677.3750553647347px;
  min-height: 217.96875000000034px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_9 span#rtr-s-Paragraph_9_1 {
  color: #F4115E;
  text-decoration: underline;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_9 span#rtr-s-Paragraph_9_2 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_9 span#rtr-s-Paragraph_9_3 {
  color: #3AB8F8;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_9 span#rtr-s-Paragraph_9_4 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_9 span#rtr-s-Paragraph_9_5 {
  color: #3AB8F8;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_9 span#rtr-s-Paragraph_9_6 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_9 span#rtr-s-Paragraph_9_7 {
  color: #F4115E;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_9 span#rtr-s-Paragraph_9_8 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_9 span#rtr-s-Paragraph_9_9 {
  color: #F4115E;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_9 span#rtr-s-Paragraph_9_10 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_9 span#rtr-s-Paragraph_9_11 {
  color: #3AB8F8;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_9 span#rtr-s-Paragraph_9_12 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_9 span#rtr-s-Paragraph_9_13 {
  color: #3AB8F8;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_9 span#rtr-s-Paragraph_9_14 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto Slab_34.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Image_1 {
  position: absolute;
  width: 477.8269437665748px;
  height: 358.3786764705885px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_10 {
  position: absolute;
  width: 408.5155633983587px;
  min-height: 35.6780260180999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_10 span {
  color: #F4115E;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #F4115E;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_10 span#rtr-s-Paragraph_10_1 {
  color: #F4115E;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_10 span#rtr-s-Paragraph_10_2 {
  color: #F4115E;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Image_2 {
  position: absolute;
  width: 481.3391968755716px;
  height: 358.5937499999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_11 {
  position: absolute;
  width: 398.0185377208909px;
  min-height: 35.41713800905018px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_11 span {
  color: #F4115E;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #F4115E;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_11 span#rtr-s-Paragraph_11_1 {
  color: #F4115E;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_11 span#rtr-s-Paragraph_11_2 {
  color: #F4115E;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Image_3 {
  position: absolute;
  width: 477.8269437665746px;
  height: 358.59374999999955px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_12 {
  position: absolute;
  width: 408.5155633983587px;
  min-height: 35.67802601809967px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_12 span {
  color: #F4115E;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #F4115E;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_12 span#rtr-s-Paragraph_12_1 {
  color: #F4115E;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_12 span#rtr-s-Paragraph_12_2 {
  color: #F4115E;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Image_4 {
  position: absolute;
  width: 477.82694376657446px;
  height: 376.4327630090486px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_13 {
  position: absolute;
  width: 508.2635516938958px;
  min-height: 35.15624999999966px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_13 span {
  color: #F4115E;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #F4115E;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_13 span#rtr-s-Paragraph_13_1 {
  color: #F4115E;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 #s-Paragraph_13 span#rtr-s-Paragraph_13_2 {
  color: #F4115E;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e69944d8-8376-43de-8ec1-b12e87b74598 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}